.footer {
    background-color: #000;
    padding: 3rem 0;
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .right {
            .wrap {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .column {
                    display: flex;
                    flex-direction: column;

                    .social {
                        display: flex;
                        a{
                            margin-right: 0.625rem;
                        }
                    }

                    >h4 {
                        color: #fff;
                        font-weight: 500;
                        margin: 0 0 0.625rem 0;
                    }

                    .bar {}

                    a {
                        color: #808080;
                        text-decoration: none;
                        font-size: 0.875rem;
                        margin-top: 0.375rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        .container {
            grid-template-columns: repeat(1, 1fr);
            .right {
                .wrap {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}